USE [QLKS_IS201]
GO
/****** Object:  Table [dbo].[BAOCAODICHVU]    Script Date: 12/17/2020 10:40:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOCAODICHVU](
	[MA_BCDV] [int] IDENTITY(1,1) NOT NULL,
	[THOIGIANLAP_BCDV] [smalldatetime] NULL,
	[TONGDOANHTHU_BCDV] [money] NULL,
	[DOANHTHULUUTRU_BCDV] [money] NULL,
	[DOANHTHUANUONG_BCDV] [money] NULL,
	[DOANHTHUGIATUI_BCDV] [money] NULL,
	[DOANHTHUDICHUYEN_BCDV] [money] NULL,
	[NGAYBATDAU_BCDV] [date] NULL,
	[NGAYKETTHUC_BCDV] [date] NULL,
 CONSTRAINT [PK_BAOCAODICHVU] PRIMARY KEY CLUSTERED 
(
	[MA_BCDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BAOCAONAM]    Script Date: 12/17/2020 10:40:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOCAONAM](
	[MA_BCN] [int] IDENTITY(1,1) NOT NULL,
	[THOIGIANLAP_BCN] [smalldatetime] NULL,
	[NAM_BCN] [int] NULL,
	[TONGDOANHTHU_BCN] [money] NULL,
	[DOANHTHUTHANG1_BCN] [money] NULL,
	[DOANHTHUTHANG2_BCN] [money] NULL,
	[DOANHTHUTHANG3_BCN] [money] NULL,
	[DOANHTHUTHANG4_BCN] [money] NULL,
	[DOANHTHUTHANG5_BCN] [money] NULL,
	[DOANHTHUTHANG6_BCN] [money] NULL,
	[DOANHTHUTHANG7_BCN] [money] NULL,
	[DOANHTHUTHANG8_BCN] [money] NULL,
	[DOANHTHUTHANG9_BCN] [money] NULL,
	[DOANHTHUTHANG10_BCN] [money] NULL,
	[DOANHTHUTHANG11_BCN] [money] NULL,
	[DOANHTHUTHANG12_BCN] [money] NULL,
 CONSTRAINT [PK_BAOCAONAM] PRIMARY KEY CLUSTERED 
(
	[MA_BCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIET_HDAU]    Script Date: 12/17/2020 10:40:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIET_HDAU](
	[MA_CTHDAU] [int] IDENTITY(1,1) NOT NULL,
	[MA_HD] [int] NOT NULL,
	[MA_MH] [int] NOT NULL,
	[SOLUONG_MH] [int] NULL,
	[TRIGIA_CTHDAU] [money] NULL,
	[THOIGIANLAP_CTHDAU] [smalldatetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIET_HDDC]    Script Date: 12/17/2020 10:40:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIET_HDDC](
	[MA_CTHDDC] [int] IDENTITY(1,1) NOT NULL,
	[MA_HD] [int] NOT NULL,
	[MA_CD] [int] NOT NULL,
	[TRIGIA_CTHDDC] [money] NULL,
	[THOIGIANLAP_CTHDDC] [smalldatetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIET_HDGU]    Script Date: 12/17/2020 10:40:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIET_HDGU](
	[MA_CTHDGU] [int] IDENTITY(1,1) NOT NULL,
	[MA_HD] [int] NOT NULL,
	[MA_LUOTGU] [int] NOT NULL,
	[TRIGIA_CTHDGU] [money] NULL,
	[THOIGIANLAP_CTHDGU] [smalldatetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIET_HDLT]    Script Date: 12/17/2020 10:40:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIET_HDLT](
	[MA_CTHDLT] [int] IDENTITY(1,1) NOT NULL,
	[MA_HD] [int] NOT NULL,
	[MA_PHONG] [int] NOT NULL,
	[THOIGIANNHAN_PHONG] [smalldatetime] NULL,
	[THOIGIANTRA_PHONG] [smalldatetime] NULL,
	[TRIGIA_CTHDLT] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUYENDI]    Script Date: 12/17/2020 10:40:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUYENDI](
	[MA_CD] [int] IDENTITY(1,1) NOT NULL,
	[DIEMDEN_CD] [nvarchar](255) NULL,
	[DONGIA_CD] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/17/2020 10:40:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MA_HD] [int] IDENTITY(1,1) NOT NULL,
	[MA_NV] [int] NOT NULL,
	[MA_KH] [int] NOT NULL,
	[THOIGIANLAP_HD] [smalldatetime] NULL,
	[TINHTRANG_HD] [bit] NULL,
	[TRIGIA_HD] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/17/2020 10:40:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MA_KH] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN_KH] [nvarchar](255) NULL,
	[SODIENTHOAI_KH] [nvarchar](15) NULL,
	[CMND_KH] [nvarchar](12) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIGIATUI]    Script Date: 12/17/2020 10:40:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIGIATUI](
	[MA_LOAIGU] [int] IDENTITY(1,1) NOT NULL,
	[TEN_LOAIGU] [nvarchar](255) NULL,
	[DONGIA_LOAIGU] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 12/17/2020 10:40:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[MA_LP] [int] IDENTITY(1,1) NOT NULL,
	[TEN_LP] [nvarchar](255) NULL,
	[DONGIA_LP] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LUOTGIATUI]    Script Date: 12/17/2020 10:40:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUOTGIATUI](
	[MA_LUOTGU] [int] IDENTITY(1,1) NOT NULL,
	[MA_LOAIGU] [int] NOT NULL,
	[SOKILOGRAM_LUOTGU] [int] NULL,
	[NGAYBATDAU_LUOTGU] [date] NULL,
	[NGAYKETTHUC_LUOTGU] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATHANG]    Script Date: 12/17/2020 10:40:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATHANG](
	[MA_MH] [int] IDENTITY(1,1) NOT NULL,
	[TEN_MH] [nvarchar](255) NULL,
	[DONGIA_MH] [money] NULL,
	[NGAYNHAP_MH] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/17/2020 10:40:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MA_NV] [int] IDENTITY(1,1) NOT NULL,
	[MA_TK] [int] NOT NULL,
	[HOTEN_NV] [nvarchar](255) NULL,
	[GIOITINH_NV] [bit] NULL,
	[NGAYSINH_NV] [date] NULL,
	[SODIENTHOAI_NV] [nvarchar](15) NULL,
	[CHUCVU_NV] [nvarchar](30) NULL,
	[DIACHI_NV] [nvarchar](255) NULL,
	[NGAYVAOLAM_NV] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 12/17/2020 10:40:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[MA_PHONG] [int] NOT NULL,
	[MA_LP] [int] NOT NULL,
	[TINHTRANG_PHONG] [nvarchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 12/17/2020 10:40:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MA_TK] [int] IDENTITY(1,1) NOT NULL,
	[TENDANGNHAP_TK] [nvarchar](32) NULL,
	[MATKHAU_TK] [nvarchar](255) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CHITIET_HDAU] ON 

INSERT [dbo].[CHITIET_HDAU] ([MA_CTHDAU], [MA_HD], [MA_MH], [SOLUONG_MH], [TRIGIA_CTHDAU], [THOIGIANLAP_CTHDAU]) VALUES (1, 1, 44, 1, 25000.0000, CAST(N'2020-12-16T23:24:00' AS SmallDateTime))
INSERT [dbo].[CHITIET_HDAU] ([MA_CTHDAU], [MA_HD], [MA_MH], [SOLUONG_MH], [TRIGIA_CTHDAU], [THOIGIANLAP_CTHDAU]) VALUES (2, 1, 5, 2, 20000.0000, CAST(N'2020-12-16T23:24:00' AS SmallDateTime))
INSERT [dbo].[CHITIET_HDAU] ([MA_CTHDAU], [MA_HD], [MA_MH], [SOLUONG_MH], [TRIGIA_CTHDAU], [THOIGIANLAP_CTHDAU]) VALUES (3, 2, 1, 2, 16000.0000, CAST(N'2020-12-17T09:57:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[CHITIET_HDAU] OFF
SET IDENTITY_INSERT [dbo].[CHITIET_HDDC] ON 

INSERT [dbo].[CHITIET_HDDC] ([MA_CTHDDC], [MA_HD], [MA_CD], [TRIGIA_CTHDDC], [THOIGIANLAP_CTHDDC]) VALUES (1, 3, 3, 140000.0000, CAST(N'2020-12-17T10:02:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[CHITIET_HDDC] OFF
SET IDENTITY_INSERT [dbo].[CHITIET_HDGU] ON 

INSERT [dbo].[CHITIET_HDGU] ([MA_CTHDGU], [MA_HD], [MA_LUOTGU], [TRIGIA_CTHDGU], [THOIGIANLAP_CTHDGU]) VALUES (1, 2, 1, 80000.0000, CAST(N'2020-12-17T09:56:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[CHITIET_HDGU] OFF
SET IDENTITY_INSERT [dbo].[CHITIET_HDLT] ON 

INSERT [dbo].[CHITIET_HDLT] ([MA_CTHDLT], [MA_HD], [MA_PHONG], [THOIGIANNHAN_PHONG], [THOIGIANTRA_PHONG], [TRIGIA_CTHDLT]) VALUES (1, 1, 109, CAST(N'2020-12-16T23:23:00' AS SmallDateTime), CAST(N'2020-12-16T23:25:00' AS SmallDateTime), 150000.0000)
INSERT [dbo].[CHITIET_HDLT] ([MA_CTHDLT], [MA_HD], [MA_PHONG], [THOIGIANNHAN_PHONG], [THOIGIANTRA_PHONG], [TRIGIA_CTHDLT]) VALUES (2, 2, 302, CAST(N'2020-12-17T09:55:00' AS SmallDateTime), CAST(N'2020-12-17T09:58:00' AS SmallDateTime), 150000.0000)
INSERT [dbo].[CHITIET_HDLT] ([MA_CTHDLT], [MA_HD], [MA_PHONG], [THOIGIANNHAN_PHONG], [THOIGIANTRA_PHONG], [TRIGIA_CTHDLT]) VALUES (3, 3, 204, CAST(N'2020-12-17T10:01:00' AS SmallDateTime), CAST(N'2020-12-17T10:02:00' AS SmallDateTime), 80000.0000)
SET IDENTITY_INSERT [dbo].[CHITIET_HDLT] OFF
SET IDENTITY_INSERT [dbo].[CHUYENDI] ON 

INSERT [dbo].[CHUYENDI] ([MA_CD], [DIEMDEN_CD], [DONGIA_CD]) VALUES (1, N'Sân bay Tân Sơn Nhất', 200000.0000)
INSERT [dbo].[CHUYENDI] ([MA_CD], [DIEMDEN_CD], [DONGIA_CD]) VALUES (2, N'Bến xe Miền Đông', 270000.0000)
INSERT [dbo].[CHUYENDI] ([MA_CD], [DIEMDEN_CD], [DONGIA_CD]) VALUES (3, N'Bến xe Miền Tây', 140000.0000)
SET IDENTITY_INSERT [dbo].[CHUYENDI] OFF
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([MA_HD], [MA_NV], [MA_KH], [THOIGIANLAP_HD], [TINHTRANG_HD], [TRIGIA_HD]) VALUES (1, 3, 1, CAST(N'2020-12-16T23:23:00' AS SmallDateTime), 1, 195000.0000)
INSERT [dbo].[HOADON] ([MA_HD], [MA_NV], [MA_KH], [THOIGIANLAP_HD], [TINHTRANG_HD], [TRIGIA_HD]) VALUES (2, 1, 2, CAST(N'2020-12-17T09:55:00' AS SmallDateTime), 1, 291000.0000)
INSERT [dbo].[HOADON] ([MA_HD], [MA_NV], [MA_KH], [THOIGIANLAP_HD], [TINHTRANG_HD], [TRIGIA_HD]) VALUES (3, 3, 3, CAST(N'2020-12-17T10:01:00' AS SmallDateTime), 1, 267000.0000)
SET IDENTITY_INSERT [dbo].[HOADON] OFF
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MA_KH], [HOTEN_KH], [SODIENTHOAI_KH], [CMND_KH]) VALUES (1, N'Lê Quốc Huy', N'0913658238', N'315248252')
INSERT [dbo].[KHACHHANG] ([MA_KH], [HOTEN_KH], [SODIENTHOAI_KH], [CMND_KH]) VALUES (2, N'Trần Văn Khang', N'0923543659', N'357439403')
INSERT [dbo].[KHACHHANG] ([MA_KH], [HOTEN_KH], [SODIENTHOAI_KH], [CMND_KH]) VALUES (3, N'Nguyễn Hoàng Quốc', N'0932193920', N'314039302')
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
SET IDENTITY_INSERT [dbo].[LOAIGIATUI] ON 

INSERT [dbo].[LOAIGIATUI] ([MA_LOAIGU], [TEN_LOAIGU], [DONGIA_LOAIGU]) VALUES (1, N'Theo kilogram', 20000.0000)
INSERT [dbo].[LOAIGIATUI] ([MA_LOAIGU], [TEN_LOAIGU], [DONGIA_LOAIGU]) VALUES (2, N'Theo ngày', 50000.0000)
SET IDENTITY_INSERT [dbo].[LOAIGIATUI] OFF
SET IDENTITY_INSERT [dbo].[LOAIPHONG] ON 

INSERT [dbo].[LOAIPHONG] ([MA_LP], [TEN_LP], [DONGIA_LP]) VALUES (1, N'Tiêu chuẩn đơn', 80000.0000)
INSERT [dbo].[LOAIPHONG] ([MA_LP], [TEN_LP], [DONGIA_LP]) VALUES (2, N'Tiêu chuẩn đôi', 120000.0000)
INSERT [dbo].[LOAIPHONG] ([MA_LP], [TEN_LP], [DONGIA_LP]) VALUES (3, N'Cao cấp đơn', 120000.0000)
SET IDENTITY_INSERT [dbo].[LOAIPHONG] OFF
SET IDENTITY_INSERT [dbo].[LUOTGIATUI] ON 

INSERT [dbo].[LUOTGIATUI] ([MA_LUOTGU], [MA_LOAIGU], [SOKILOGRAM_LUOTGU], [NGAYBATDAU_LUOTGU], [NGAYKETTHUC_LUOTGU]) VALUES (1, 1, 4, NULL, NULL)
SET IDENTITY_INSERT [dbo].[LUOTGIATUI] OFF
SET IDENTITY_INSERT [dbo].[MATHANG] ON 

INSERT [dbo].[MATHANG] ([MA_MH], [TEN_MH], [DONGIA_MH], [NGAYNHAP_MH]) VALUES (1, N'Nước khoáng Aquafina 330ml', 8000.0000, CAST(N'2020-12-16' AS Date))
INSERT [dbo].[MATHANG] ([MA_MH], [TEN_MH], [DONGIA_MH], [NGAYNHAP_MH]) VALUES (2, N'Nước khoáng Dasani 330ml ', 9000.0000, CAST(N'2020-12-16' AS Date))
INSERT [dbo].[MATHANG] ([MA_MH], [TEN_MH], [DONGIA_MH], [NGAYNHAP_MH]) VALUES (3, N'Nước khoáng Aquafina 1.5l', 12000.0000, CAST(N'2020-12-16' AS Date))
SET IDENTITY_INSERT [dbo].[MATHANG] OFF
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MA_NV], [MA_TK], [HOTEN_NV], [GIOITINH_NV], [NGAYSINH_NV], [SODIENTHOAI_NV], [CHUCVU_NV], [DIACHI_NV], [NGAYVAOLAM_NV]) VALUES (1, 1, N'Võ Ngọc Phong', 1, CAST(N'1997-07-17' AS Date), N'0914659369', N'Quản lí', N'82/5 đường 494, Q.9, Tp. Hồ Chí Minh', CAST(N'2020-02-11' AS Date))
INSERT [dbo].[NHANVIEN] ([MA_NV], [MA_TK], [HOTEN_NV], [GIOITINH_NV], [NGAYSINH_NV], [SODIENTHOAI_NV], [CHUCVU_NV], [DIACHI_NV], [NGAYVAOLAM_NV]) VALUES (2, 2, N'Phan Tiến Đức', 1, CAST(N'1997-08-20' AS Date), N'0989132413', N'Quản lí', N'901 Trường Chinh, Q. Tân Bình, Tp. Hồ Chí Minh', CAST(N'2020-03-24' AS Date))
INSERT [dbo].[NHANVIEN] ([MA_NV], [MA_TK], [HOTEN_NV], [GIOITINH_NV], [NGAYSINH_NV], [SODIENTHOAI_NV], [CHUCVU_NV], [DIACHI_NV], [NGAYVAOLAM_NV]) VALUES (3, 3, N'Phạm Thành Trung', 1, CAST(N'1997-09-23' AS Date), N'0952821641', N'Nhân viên', N'78/34 Phạm Hùng, Q.8 Tp. Hồ Chí Minh', CAST(N'2020-06-17' AS Date))
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
INSERT [dbo].[PHONG] ([MA_PHONG], [MA_LP], [TINHTRANG_PHONG]) VALUES (101, 5, N'Trống')
INSERT [dbo].[PHONG] ([MA_PHONG], [MA_LP], [TINHTRANG_PHONG]) VALUES (102, 1, N'Trống')
INSERT [dbo].[PHONG] ([MA_PHONG], [MA_LP], [TINHTRANG_PHONG]) VALUES (103, 1, N'Trống')
SET IDENTITY_INSERT [dbo].[TAIKHOAN] ON 

INSERT [dbo].[TAIKHOAN] ([MA_TK], [TENDANGNHAP_TK], [MATKHAU_TK]) VALUES (1, N'phong', N'12345')
INSERT [dbo].[TAIKHOAN] ([MA_TK], [TENDANGNHAP_TK], [MATKHAU_TK]) VALUES (2, N'duc', N'12345')
INSERT [dbo].[TAIKHOAN] ([MA_TK], [TENDANGNHAP_TK], [MATKHAU_TK]) VALUES (3, N'trung', N'12345')
SET IDENTITY_INSERT [dbo].[TAIKHOAN] OFF
/****** Object:  Index [PK_CHITIET_HDAU]    Script Date: 12/17/2020 10:40:28 AM ******/
ALTER TABLE [dbo].[CHITIET_HDAU] ADD  CONSTRAINT [PK_CHITIET_HDAU] PRIMARY KEY NONCLUSTERED 
(
	[MA_CTHDAU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_CHITIET_HDDC]    Script Date: 12/17/2020 10:40:28 AM ******/
ALTER TABLE [dbo].[CHITIET_HDDC] ADD  CONSTRAINT [PK_CHITIET_HDDC] PRIMARY KEY NONCLUSTERED 
(
	[MA_CTHDDC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_CHITIET_HDGU]    Script Date: 12/17/2020 10:40:28 AM ******/
ALTER TABLE [dbo].[CHITIET_HDGU] ADD  CONSTRAINT [PK_CHITIET_HDGU] PRIMARY KEY NONCLUSTERED 
(
	[MA_CTHDGU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_CHITIET_HDLT]    Script Date: 12/17/2020 10:40:28 AM ******/
ALTER TABLE [dbo].[CHITIET_HDLT] ADD  CONSTRAINT [PK_CHITIET_HDLT] PRIMARY KEY NONCLUSTERED 
(
	[MA_CTHDLT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_CHUYENDI]    Script Date: 12/17/2020 10:40:28 AM ******/
ALTER TABLE [dbo].[CHUYENDI] ADD  CONSTRAINT [PK_CHUYENDI] PRIMARY KEY NONCLUSTERED 
(
	[MA_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_HOADON]    Script Date: 12/17/2020 10:40:28 AM ******/
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [PK_HOADON] PRIMARY KEY NONCLUSTERED 
(
	[MA_HD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_KHACHHANG]    Script Date: 12/17/2020 10:40:28 AM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [PK_KHACHHANG] PRIMARY KEY NONCLUSTERED 
(
	[MA_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_LOAIGIATUI]    Script Date: 12/17/2020 10:40:28 AM ******/
ALTER TABLE [dbo].[LOAIGIATUI] ADD  CONSTRAINT [PK_LOAIGIATUI] PRIMARY KEY NONCLUSTERED 
(
	[MA_LOAIGU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_LOAIPHONG]    Script Date: 12/17/2020 10:40:28 AM ******/
ALTER TABLE [dbo].[LOAIPHONG] ADD  CONSTRAINT [PK_LOAIPHONG] PRIMARY KEY NONCLUSTERED 
(
	[MA_LP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_LUOTGIATUI]    Script Date: 12/17/2020 10:40:28 AM ******/
ALTER TABLE [dbo].[LUOTGIATUI] ADD  CONSTRAINT [PK_LUOTGIATUI] PRIMARY KEY NONCLUSTERED 
(
	[MA_LUOTGU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_MATHANG]    Script Date: 12/17/2020 10:40:28 AM ******/
ALTER TABLE [dbo].[MATHANG] ADD  CONSTRAINT [PK_MATHANG] PRIMARY KEY NONCLUSTERED 
(
	[MA_MH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_NHANVIEN]    Script Date: 12/17/2020 10:40:28 AM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [PK_NHANVIEN] PRIMARY KEY NONCLUSTERED 
(
	[MA_NV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_PHONG]    Script Date: 12/17/2020 10:40:28 AM ******/
ALTER TABLE [dbo].[PHONG] ADD  CONSTRAINT [PK_PHONG] PRIMARY KEY NONCLUSTERED 
(
	[MA_PHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_TAIKHOAN]    Script Date: 12/17/2020 10:40:28 AM ******/
ALTER TABLE [dbo].[TAIKHOAN] ADD  CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY NONCLUSTERED 
(
	[MA_TK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIET_HDAU] ADD  DEFAULT ((1)) FOR [SOLUONG_MH]
GO
ALTER TABLE [dbo].[CHITIET_HDAU] ADD  DEFAULT ((0)) FOR [TRIGIA_CTHDAU]
GO
ALTER TABLE [dbo].[CHITIET_HDDC] ADD  DEFAULT ((0)) FOR [TRIGIA_CTHDDC]
GO
ALTER TABLE [dbo].[CHITIET_HDGU] ADD  DEFAULT ((0)) FOR [TRIGIA_CTHDGU]
GO
ALTER TABLE [dbo].[CHITIET_HDLT] ADD  DEFAULT (getdate()) FOR [THOIGIANNHAN_PHONG]
GO
ALTER TABLE [dbo].[CHITIET_HDLT] ADD  DEFAULT ((0)) FOR [TRIGIA_CTHDLT]
GO
ALTER TABLE [dbo].[CHUYENDI] ADD  DEFAULT ((0)) FOR [DONGIA_CD]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT (getdate()) FOR [THOIGIANLAP_HD]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [TINHTRANG_HD]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [TRIGIA_HD]
GO
ALTER TABLE [dbo].[LOAIGIATUI] ADD  DEFAULT ((0)) FOR [DONGIA_LOAIGU]
GO
ALTER TABLE [dbo].[LOAIPHONG] ADD  DEFAULT ((0)) FOR [DONGIA_LP]
GO
ALTER TABLE [dbo].[LUOTGIATUI] ADD  DEFAULT ((1)) FOR [SOKILOGRAM_LUOTGU]
GO
ALTER TABLE [dbo].[MATHANG] ADD  DEFAULT ((0)) FOR [DONGIA_MH]
GO
ALTER TABLE [dbo].[MATHANG] ADD  CONSTRAINT [DF_MATHANG_NGAYNHAP_MH]  DEFAULT (getdate()) FOR [NGAYNHAP_MH]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT (N'Nhân viên') FOR [CHUCVU_NV]
GO
ALTER TABLE [dbo].[PHONG] ADD  DEFAULT (N'Trống') FOR [TINHTRANG_PHONG]
GO
ALTER TABLE [dbo].[CHITIET_HDAU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET__CHITIET_H_MATHANG] FOREIGN KEY([MA_MH])
REFERENCES [dbo].[MATHANG] ([MA_MH])
GO
ALTER TABLE [dbo].[CHITIET_HDAU] CHECK CONSTRAINT [FK_CHITIET__CHITIET_H_MATHANG]
GO
ALTER TABLE [dbo].[CHITIET_HDAU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET_HDAU_HOADON] FOREIGN KEY([MA_HD])
REFERENCES [dbo].[HOADON] ([MA_HD])
GO
ALTER TABLE [dbo].[CHITIET_HDAU] CHECK CONSTRAINT [FK_CHITIET_HDAU_HOADON]
GO
ALTER TABLE [dbo].[CHITIET_HDDC]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET__CHITIET_H_CHUYENDI] FOREIGN KEY([MA_CD])
REFERENCES [dbo].[CHUYENDI] ([MA_CD])
GO
ALTER TABLE [dbo].[CHITIET_HDDC] CHECK CONSTRAINT [FK_CHITIET__CHITIET_H_CHUYENDI]
GO
ALTER TABLE [dbo].[CHITIET_HDDC]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET_HDDC_HOADON] FOREIGN KEY([MA_HD])
REFERENCES [dbo].[HOADON] ([MA_HD])
GO
ALTER TABLE [dbo].[CHITIET_HDDC] CHECK CONSTRAINT [FK_CHITIET_HDDC_HOADON]
GO
ALTER TABLE [dbo].[CHITIET_HDGU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET__CHITIET_H_LUOTGIAT] FOREIGN KEY([MA_LUOTGU])
REFERENCES [dbo].[LUOTGIATUI] ([MA_LUOTGU])
GO
ALTER TABLE [dbo].[CHITIET_HDGU] CHECK CONSTRAINT [FK_CHITIET__CHITIET_H_LUOTGIAT]
GO
ALTER TABLE [dbo].[CHITIET_HDGU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET_HDGU_HOADON] FOREIGN KEY([MA_HD])
REFERENCES [dbo].[HOADON] ([MA_HD])
GO
ALTER TABLE [dbo].[CHITIET_HDGU] CHECK CONSTRAINT [FK_CHITIET_HDGU_HOADON]
GO
ALTER TABLE [dbo].[CHITIET_HDLT]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET__CHITIET_H_PHONG] FOREIGN KEY([MA_PHONG])
REFERENCES [dbo].[PHONG] ([MA_PHONG])
GO
ALTER TABLE [dbo].[CHITIET_HDLT] CHECK CONSTRAINT [FK_CHITIET__CHITIET_H_PHONG]
GO
ALTER TABLE [dbo].[CHITIET_HDLT]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET_HDLT_HOADON] FOREIGN KEY([MA_HD])
REFERENCES [dbo].[HOADON] ([MA_HD])
GO
ALTER TABLE [dbo].[CHITIET_HDLT] CHECK CONSTRAINT [FK_CHITIET_HDLT_HOADON]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_CO_HD_KHACHHAN] FOREIGN KEY([MA_KH])
REFERENCES [dbo].[KHACHHANG] ([MA_KH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_CO_HD_KHACHHAN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_LAP_HD_NHANVIEN] FOREIGN KEY([MA_NV])
REFERENCES [dbo].[NHANVIEN] ([MA_NV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_LAP_HD_NHANVIEN]
GO
ALTER TABLE [dbo].[LUOTGIATUI]  WITH CHECK ADD  CONSTRAINT [FK_LUOTGIAT_CO_LOAIGU_LOAIGIAT] FOREIGN KEY([MA_LOAIGU])
REFERENCES [dbo].[LOAIGIATUI] ([MA_LOAIGU])
GO
ALTER TABLE [dbo].[LUOTGIATUI] CHECK CONSTRAINT [FK_LUOTGIAT_CO_LOAIGU_LOAIGIAT]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CO_TK_TAIKHOAN] FOREIGN KEY([MA_TK])
REFERENCES [dbo].[TAIKHOAN] ([MA_TK])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CO_TK_TAIKHOAN]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_CO_LP_LOAIPHON] FOREIGN KEY([MA_LP])
REFERENCES [dbo].[LOAIPHONG] ([MA_LP])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_PHONG_CO_LP_LOAIPHON]
GO
