USE [master]
GO
/****** Object:  Database [QLKS_IS201]    Script Date: 12/17/2020 10:08:25 AM ******/
CREATE DATABASE [QLKS_IS201]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLKS_IS201', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.NGOCPHONG\MSSQL\DATA\QLKS_IS201.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLKS_IS201_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.NGOCPHONG\MSSQL\DATA\QLKS_IS201_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLKS_IS201].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLKS_IS201]
GO
/****** Object:  Table [dbo].[BAOCAODICHVU]    Script Date: 12/17/2020 10:08:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOCAODICHVU](
	[MA_BCDV] [int] IDENTITY(1,1) NOT NULL,
	[THOIGIANLAP_BCDV] [smalldatetime] NULL,
	[TONGDOANHTHU_BCDV] [money] NULL,
	[DOANHTHULUUTRU_BCDV] [money] NULL,
	[DOANHTHUANUONG_BCDV] [money] NULL,
	[DOANHTHUGIATUI_BCDV] [money] NULL,
	[DOANHTHUDICHUYEN_BCDV] [money] NULL,
	[NGAYBATDAU_BCDV] [date] NULL,
	[NGAYKETTHUC_BCDV] [date] NULL,
 CONSTRAINT [PK_BAOCAODICHVU] PRIMARY KEY CLUSTERED 
(
	[MA_BCDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BAOCAONAM]    Script Date: 12/17/2020 10:08:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOCAONAM](
	[MA_BCN] [int] IDENTITY(1,1) NOT NULL,
	[THOIGIANLAP_BCN] [smalldatetime] NULL,
	[NAM_BCN] [int] NULL,
	[TONGDOANHTHU_BCN] [money] NULL,
	[DOANHTHUTHANG1_BCN] [money] NULL,
	[DOANHTHUTHANG2_BCN] [money] NULL,
	[DOANHTHUTHANG3_BCN] [money] NULL,
	[DOANHTHUTHANG4_BCN] [money] NULL,
	[DOANHTHUTHANG5_BCN] [money] NULL,
	[DOANHTHUTHANG6_BCN] [money] NULL,
	[DOANHTHUTHANG7_BCN] [money] NULL,
	[DOANHTHUTHANG8_BCN] [money] NULL,
	[DOANHTHUTHANG9_BCN] [money] NULL,
	[DOANHTHUTHANG10_BCN] [money] NULL,
	[DOANHTHUTHANG11_BCN] [money] NULL,
	[DOANHTHUTHANG12_BCN] [money] NULL,
 CONSTRAINT [PK_BAOCAONAM] PRIMARY KEY CLUSTERED 
(
	[MA_BCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIET_HDAU]    Script Date: 12/17/2020 10:08:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIET_HDAU](
	[MA_CTHDAU] [int] IDENTITY(1,1) NOT NULL,
	[MA_HD] [int] NOT NULL,
	[MA_MH] [int] NOT NULL,
	[SOLUONG_MH] [int] NULL,
	[TRIGIA_CTHDAU] [money] NULL,
	[THOIGIANLAP_CTHDAU] [smalldatetime] NULL,
 CONSTRAINT [PK_CHITIET_HDAU] PRIMARY KEY NONCLUSTERED 
(
	[MA_CTHDAU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIET_HDDC]    Script Date: 12/17/2020 10:08:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIET_HDDC](
	[MA_CTHDDC] [int] IDENTITY(1,1) NOT NULL,
	[MA_HD] [int] NOT NULL,
	[MA_CD] [int] NOT NULL,
	[TRIGIA_CTHDDC] [money] NULL,
	[THOIGIANLAP_CTHDDC] [smalldatetime] NULL,
 CONSTRAINT [PK_CHITIET_HDDC] PRIMARY KEY NONCLUSTERED 
(
	[MA_CTHDDC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIET_HDGU]    Script Date: 12/17/2020 10:08:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIET_HDGU](
	[MA_CTHDGU] [int] IDENTITY(1,1) NOT NULL,
	[MA_HD] [int] NOT NULL,
	[MA_LUOTGU] [int] NOT NULL,
	[TRIGIA_CTHDGU] [money] NULL,
	[THOIGIANLAP_CTHDGU] [smalldatetime] NULL,
 CONSTRAINT [PK_CHITIET_HDGU] PRIMARY KEY NONCLUSTERED 
(
	[MA_CTHDGU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIET_HDLT]    Script Date: 12/17/2020 10:08:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIET_HDLT](
	[MA_CTHDLT] [int] IDENTITY(1,1) NOT NULL,
	[MA_HD] [int] NOT NULL,
	[MA_PHONG] [int] NOT NULL,
	[THOIGIANNHAN_PHONG] [smalldatetime] NULL,
	[THOIGIANTRA_PHONG] [smalldatetime] NULL,
	[TRIGIA_CTHDLT] [money] NULL,
 CONSTRAINT [PK_CHITIET_HDLT] PRIMARY KEY NONCLUSTERED 
(
	[MA_CTHDLT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUYENDI]    Script Date: 12/17/2020 10:08:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUYENDI](
	[MA_CD] [int] IDENTITY(1,1) NOT NULL,
	[DIEMDEN_CD] [nvarchar](255) NULL,
	[DONGIA_CD] [money] NULL,
 CONSTRAINT [PK_CHUYENDI] PRIMARY KEY NONCLUSTERED 
(
	[MA_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/17/2020 10:08:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MA_HD] [int] IDENTITY(1,1) NOT NULL,
	[MA_NV] [int] NOT NULL,
	[MA_KH] [int] NOT NULL,
	[THOIGIANLAP_HD] [smalldatetime] NULL,
	[TINHTRANG_HD] [bit] NULL,
	[TRIGIA_HD] [money] NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY NONCLUSTERED 
(
	[MA_HD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/17/2020 10:08:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MA_KH] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN_KH] [nvarchar](255) NULL,
	[SODIENTHOAI_KH] [nvarchar](15) NULL,
	[CMND_KH] [nvarchar](12) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY NONCLUSTERED 
(
	[MA_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIGIATUI]    Script Date: 12/17/2020 10:08:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIGIATUI](
	[MA_LOAIGU] [int] IDENTITY(1,1) NOT NULL,
	[TEN_LOAIGU] [nvarchar](255) NULL,
	[DONGIA_LOAIGU] [money] NULL,
 CONSTRAINT [PK_LOAIGIATUI] PRIMARY KEY NONCLUSTERED 
(
	[MA_LOAIGU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 12/17/2020 10:08:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[MA_LP] [int] IDENTITY(1,1) NOT NULL,
	[TEN_LP] [nvarchar](255) NULL,
	[DONGIA_LP] [money] NULL,
 CONSTRAINT [PK_LOAIPHONG] PRIMARY KEY NONCLUSTERED 
(
	[MA_LP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LUOTGIATUI]    Script Date: 12/17/2020 10:08:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUOTGIATUI](
	[MA_LUOTGU] [int] IDENTITY(1,1) NOT NULL,
	[MA_LOAIGU] [int] NOT NULL,
	[SOKILOGRAM_LUOTGU] [int] NULL,
	[NGAYBATDAU_LUOTGU] [date] NULL,
	[NGAYKETTHUC_LUOTGU] [date] NULL,
 CONSTRAINT [PK_LUOTGIATUI] PRIMARY KEY NONCLUSTERED 
(
	[MA_LUOTGU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATHANG]    Script Date: 12/17/2020 10:08:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATHANG](
	[MA_MH] [int] IDENTITY(1,1) NOT NULL,
	[TEN_MH] [nvarchar](255) NULL,
	[DONGIA_MH] [money] NULL,
	[NGAYNHAP_MH] [date] NULL,
 CONSTRAINT [PK_MATHANG] PRIMARY KEY NONCLUSTERED 
(
	[MA_MH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/17/2020 10:08:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MA_NV] [int] IDENTITY(1,1) NOT NULL,
	[MA_TK] [int] NOT NULL,
	[HOTEN_NV] [nvarchar](255) NULL,
	[GIOITINH_NV] [bit] NULL,
	[NGAYSINH_NV] [date] NULL,
	[SODIENTHOAI_NV] [nvarchar](15) NULL,
	[CHUCVU_NV] [nvarchar](30) NULL,
	[DIACHI_NV] [nvarchar](255) NULL,
	[NGAYVAOLAM_NV] [date] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY NONCLUSTERED 
(
	[MA_NV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 12/17/2020 10:08:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[MA_PHONG] [int] NOT NULL,
	[MA_LP] [int] NOT NULL,
	[TINHTRANG_PHONG] [nvarchar](30) NULL,
 CONSTRAINT [PK_PHONG] PRIMARY KEY NONCLUSTERED 
(
	[MA_PHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 12/17/2020 10:08:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MA_TK] [int] IDENTITY(1,1) NOT NULL,
	[TENDANGNHAP_TK] [nvarchar](32) NULL,
	[MATKHAU_TK] [nvarchar](255) NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY NONCLUSTERED 
(
	[MA_TK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIET_HDAU] ADD  DEFAULT ((1)) FOR [SOLUONG_MH]
GO
ALTER TABLE [dbo].[CHITIET_HDAU] ADD  DEFAULT ((0)) FOR [TRIGIA_CTHDAU]
GO
ALTER TABLE [dbo].[CHITIET_HDDC] ADD  DEFAULT ((0)) FOR [TRIGIA_CTHDDC]
GO
ALTER TABLE [dbo].[CHITIET_HDGU] ADD  DEFAULT ((0)) FOR [TRIGIA_CTHDGU]
GO
ALTER TABLE [dbo].[CHITIET_HDLT] ADD  DEFAULT (getdate()) FOR [THOIGIANNHAN_PHONG]
GO
ALTER TABLE [dbo].[CHITIET_HDLT] ADD  DEFAULT ((0)) FOR [TRIGIA_CTHDLT]
GO
ALTER TABLE [dbo].[CHUYENDI] ADD  DEFAULT ((0)) FOR [DONGIA_CD]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT (getdate()) FOR [THOIGIANLAP_HD]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [TINHTRANG_HD]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [TRIGIA_HD]
GO
ALTER TABLE [dbo].[LOAIGIATUI] ADD  DEFAULT ((0)) FOR [DONGIA_LOAIGU]
GO
ALTER TABLE [dbo].[LOAIPHONG] ADD  DEFAULT ((0)) FOR [DONGIA_LP]
GO
ALTER TABLE [dbo].[LUOTGIATUI] ADD  DEFAULT ((1)) FOR [SOKILOGRAM_LUOTGU]
GO
ALTER TABLE [dbo].[MATHANG] ADD  DEFAULT ((0)) FOR [DONGIA_MH]
GO
ALTER TABLE [dbo].[MATHANG] ADD  CONSTRAINT [DF_MATHANG_NGAYNHAP_MH]  DEFAULT (getdate()) FOR [NGAYNHAP_MH]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT (N'Nhân viên') FOR [CHUCVU_NV]
GO
ALTER TABLE [dbo].[PHONG] ADD  DEFAULT (N'Trống') FOR [TINHTRANG_PHONG]
GO
ALTER TABLE [dbo].[CHITIET_HDAU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET__CHITIET_H_MATHANG] FOREIGN KEY([MA_MH])
REFERENCES [dbo].[MATHANG] ([MA_MH])
GO
ALTER TABLE [dbo].[CHITIET_HDAU] CHECK CONSTRAINT [FK_CHITIET__CHITIET_H_MATHANG]
GO
ALTER TABLE [dbo].[CHITIET_HDAU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET_HDAU_HOADON] FOREIGN KEY([MA_HD])
REFERENCES [dbo].[HOADON] ([MA_HD])
GO
ALTER TABLE [dbo].[CHITIET_HDAU] CHECK CONSTRAINT [FK_CHITIET_HDAU_HOADON]
GO
ALTER TABLE [dbo].[CHITIET_HDDC]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET__CHITIET_H_CHUYENDI] FOREIGN KEY([MA_CD])
REFERENCES [dbo].[CHUYENDI] ([MA_CD])
GO
ALTER TABLE [dbo].[CHITIET_HDDC] CHECK CONSTRAINT [FK_CHITIET__CHITIET_H_CHUYENDI]
GO
ALTER TABLE [dbo].[CHITIET_HDDC]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET_HDDC_HOADON] FOREIGN KEY([MA_HD])
REFERENCES [dbo].[HOADON] ([MA_HD])
GO
ALTER TABLE [dbo].[CHITIET_HDDC] CHECK CONSTRAINT [FK_CHITIET_HDDC_HOADON]
GO
ALTER TABLE [dbo].[CHITIET_HDGU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET__CHITIET_H_LUOTGIAT] FOREIGN KEY([MA_LUOTGU])
REFERENCES [dbo].[LUOTGIATUI] ([MA_LUOTGU])
GO
ALTER TABLE [dbo].[CHITIET_HDGU] CHECK CONSTRAINT [FK_CHITIET__CHITIET_H_LUOTGIAT]
GO
ALTER TABLE [dbo].[CHITIET_HDGU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET_HDGU_HOADON] FOREIGN KEY([MA_HD])
REFERENCES [dbo].[HOADON] ([MA_HD])
GO
ALTER TABLE [dbo].[CHITIET_HDGU] CHECK CONSTRAINT [FK_CHITIET_HDGU_HOADON]
GO
ALTER TABLE [dbo].[CHITIET_HDLT]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET__CHITIET_H_PHONG] FOREIGN KEY([MA_PHONG])
REFERENCES [dbo].[PHONG] ([MA_PHONG])
GO
ALTER TABLE [dbo].[CHITIET_HDLT] CHECK CONSTRAINT [FK_CHITIET__CHITIET_H_PHONG]
GO
ALTER TABLE [dbo].[CHITIET_HDLT]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET_HDLT_HOADON] FOREIGN KEY([MA_HD])
REFERENCES [dbo].[HOADON] ([MA_HD])
GO
ALTER TABLE [dbo].[CHITIET_HDLT] CHECK CONSTRAINT [FK_CHITIET_HDLT_HOADON]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_CO_HD_KHACHHAN] FOREIGN KEY([MA_KH])
REFERENCES [dbo].[KHACHHANG] ([MA_KH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_CO_HD_KHACHHAN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_LAP_HD_NHANVIEN] FOREIGN KEY([MA_NV])
REFERENCES [dbo].[NHANVIEN] ([MA_NV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_LAP_HD_NHANVIEN]
GO
ALTER TABLE [dbo].[LUOTGIATUI]  WITH CHECK ADD  CONSTRAINT [FK_LUOTGIAT_CO_LOAIGU_LOAIGIAT] FOREIGN KEY([MA_LOAIGU])
REFERENCES [dbo].[LOAIGIATUI] ([MA_LOAIGU])
GO
ALTER TABLE [dbo].[LUOTGIATUI] CHECK CONSTRAINT [FK_LUOTGIAT_CO_LOAIGU_LOAIGIAT]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CO_TK_TAIKHOAN] FOREIGN KEY([MA_TK])
REFERENCES [dbo].[TAIKHOAN] ([MA_TK])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CO_TK_TAIKHOAN]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_CO_LP_LOAIPHON] FOREIGN KEY([MA_LP])
REFERENCES [dbo].[LOAIPHONG] ([MA_LP])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_PHONG_CO_LP_LOAIPHON]
GO
USE [master]
GO
